@font-face {
   font-family: 'Basecoat-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Windows/Desktop/Nouveau%20dossier/bzh-elec.github.io-220929/bzh-elec.github.io-main/fonts/Basecoat-Regular/font.woff');
}
