@font-face {
   font-family: 'SangBleuSans-Hairline';
   font-display: swap;
   src: url('file:///C:/Users/Windows/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-10-07_142012/fonts/SangBleuSans-Hairline/font.woff');
}
