@font-face {
   font-family: 'Mont-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Windows/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-10-07_142012/fonts/Mont-Regular/font.woff');
}
