@font-face {
   font-family: 'Mont-Light';
   font-display: swap;
   src: url('file:///C:/Users/Windows/Desktop/Nouveau%20dossier/bzh-elec.github.io-220929/bzh-elec.github.io-main/fonts/Mont-Light/font.woff');
}
