@font-face {
   font-family: 'codec.warm-trial-thin';
   font-display: swap;
   src: url('file:///C:/Users/Windows/Desktop/Nouveau%20dossier/bzh-elec.github.io-220929/bzh-elec.github.io-main/fonts/codec.warm-trial-thin/font.woff');
}
