@font-face {
   font-family: 'codec.warm-trial-thin';
   font-display: swap;
   src: url('file:///C:/Users/Windows/Documents/Christophe/Breizh%20Electrik/GHD/bzh-elec.github.io-main/fonts/codec.warm-trial-thin/font.woff');
}
